.calendar-c .custom-select{
  width: auto;
  box-shadow: 2px 10px 9px -3px rgba(112,108,112,0.5);

}

.calendar-c .month {
  color: var(--color);
  grid-template-columns: repeat(7, 1fr);
  z-index: 2;
  background-color: white;
  display: grid;
  width: auto;
  height: 50vh;
}

.calendar-c .weekday,
.calendar-c .day {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
  border-radius: 7px;
  cursor: pointer;
  border: gainsboro solid;
  border-width: 1px;
}

.calendar-c .day:hover {
  background-color: pink;
}

.calendar-c .p{
  background-color: yellow;
}

.calendar-c .bthDay {

  background-color: palevioletred;
}

.calendar-c .m{
  background-color: rgb(83, 114, 173);
}

.calendar-c .holiday{
  background-color: darkorange;
}

.calendar-c .v{
  background-color: crimson;
}

.calendar-c .h{
  background-color: lightgreen;
}

.calendar-c .other{
  background-color: darkgrey;
}

.calendar-c .weekday {
  color: #000;
  font-weight: bold;
  border: gainsboro solid;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.calendar-c .pastMonth{
  color: gray;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
  border-radius: 7px;
  cursor: pointer;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 770px) {
  .calendar-c .month{
    height: 25px;
  }
  .calendar-c .day{
    display: flex;
    padding: 0;
    padding-right: 5px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}